.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}


.skyline-wrapper {
  width: 200px;
  overflow: hidden;
}

.skyline-progress {
  width: 0;
  overflow: hidden;
  animation: skyline-fill 2s linear infinite;
}

.skyline-progress img {
  width: 100%;
  display: block;
}

.loading-text {
  margin-top: 0.5rem;
}

@keyframes skyline-fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
