.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}


.skyline-wrapper {
  position: relative;
  width: 200px;
}

.skyline-wrapper img {
  width: 100%;
  display: block;
}

.skyline-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: skyline-reveal 2s linear infinite;
}

.loading-text {
  margin-top: 0.5rem;
}

@keyframes skyline-reveal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
